[user]
        name = USER_NAME
        email = USER_EMAIL
[alias]
        short = log --oneline #Short log display
        superlog = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all #guitar hero like dislpay (branches, issues, tags, users, etc)
        refhub = fetch origin #refresh repository (use only if working alone (for teamwork use git pull instead)
        fushub = merge origin/master #merge remote branch with local branch (only if you're alone)
        uphub = push origin master #upload changes to repository
        work = !git add -A && git commit #stage changes and commit them. Must include comment for commit Eg. git work -m 'My first commit'
        todos = config --get-regexp alias #check all these instructions
        addremote = remote add origin #add remote repository Eg. git addremote git@github.com:Your_repo/user
        upbranch = push origin #Push a specific branch Eg. git upbranch MyNewBranch/features
        refreshhub = pull origin master #pull all changes from master branch
        refbranch = pull origin #pull all changes from specific branch Eg. git refbranch MyRemoteBranch
	damn = reset --hard #If you messed up and didn't commit, you can go back to the innitial state of the current commit. Must use commit_id Eg. git damn 12345
